<div id="help_content">
  <div class="container">
    <h1>How to use</h1>
    <h2>Data Load</h2>      
    <p>The first step required is to update the database with the latest data from the <a href="https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if">chicago data portal's crash data.</a> 
       Once the data has been loaded, you can proceed to the dashboard page to view the visualisations and drill-down as needed </p>

    <h2>Visualisations</h2>
    <p>TKTK</p>
  </div>
</div>