<div class="center jumbotron" id="jumbo_home">
  
  <h2>Vision Zero Crash Dashboard</h1>

  <h3>
    Welcome to the Vision Zero Crash Dashboard! Here, you can conduct period-on-period analysis of publicly available data on crashes, find out the reasons for fatal crashes, and in general generate some preliminary hypothesis on interventions.  
  </h3>

  <%= link_to "How to Use", help_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Dataload", dataload_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Dashboard", '#', class: "btn btn-lg btn-primary" %>
</div>